:root {
  --primary: #40a9ff;
  --info: rgba(0, 0, 0, 0.45);
  --success: #52c41a;
  --danger: #f5222d;
}
.btn {
  cursor: pointer;
  padding: 10px 5px;
}
.danger-color {
  color: var(--danger);
}
.primary-color {
  color: var(--primary);
}
.info-color {
  color: var(--info);
}
.success-color {
  color: var(--success);
}
.td-max-width {
  max-width: 25%;
}
.min-padding {
  padding: 0 3px !important;
}
