.sub-title {
  color: #000;
  font-weight: bold;
  line-height: 3em;
  border-bottom: 1px dashed var(--info);
  margin-bottom: 1em;
}
.input {
  max-width: 300px;
}
.input-number {
  max-width: 200px;
}
.text-area {
  max-width: 500px;
}
.info-button {
  background-color: var(--info);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.info-button:hover {
  background-color: var(--info);
  opacity: 0.7;
  color: #fff;
  border-color: transparent;
}

.col {
  line-height: 3em;
  padding-right: 2em;
  overflow: hidden;
  white-space: wrap;
}

.tip-text {
  line-height: 2em;
  font-size: 12px;
  color: #909399;
}
